/*body, html {
	color: #fff;
	height: 100vh;
}*/

<<<<<<< HEAD
.navigation {
	background-color: #336666;
	border: 0px;
}

.navbar-default .navbar-brand{
	color: white;
}

/*.navbar-default .navbar-nav .navbar-right>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	border-bottom-color: black;
}*/

.navbar-default .navbar-nav>.active>a{
	border-bottom: solid white;
	background-color: transparent;
	color: white;
}
.navbar-default .navbar-nav>li>a {
	color: white;
}

body {
	height: 100%;
	font-family: 'Montserrat', sans-serif;
}

html {
	height: 100%;
}

.cover {
	margin-top:50px; 
	width:100%; 
	height: 100%; 
	position: fixed;
	background-color: #003333;
	overflow: scroll;
}

.display {
	display: block;
	margin-left: auto;
	margin-right: auto;
	top: 50%;
}

.active {
	border-bottom-color: white;
}

.footer {
	background-color: #336666;
	position: absolute;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	height: 40px;	
}

.image {
	height:47px; 
	width: 50px; 
	margin-top: 3px;
}

.card {
	background-color: #336666;
	color: white;
	border-color: #003333;
	border-style: solid;
	border-radius: 8px;
	height: 300px;
}
=======

/* NAVIGATION */
.navigation {
	background-color: #006699;
}

.navbar .navbar-brand, .navbar .navbar-nav > li > a {
	color: #fff;
}

>>>>>>> 6e9933ff7c1d144c5e5726de2a604bc8097896eb
