
.navigation {
	background-color: #333333;
	border: 0px;
}

.navbar-default .navbar-brand{
	color: white;
}

/*.navbar-default .navbar-nav .navbar-right>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	border-bottom-color: black;
}*/

.navbar-default .navbar-nav>.active>a{
	border-bottom: solid white;
	background-color: transparent;
	color: white;
}
.navbar-default .navbar-nav>li>a {
	color: white;
}

body {
	height: 100%;
	font-family: 'Montserrat', sans-serif;
}

html {
	height: 100%;
}

.cover {
	margin-top:50px; 
	width: 100%; 
	height: 100%; 
	position: relative;
	background-color: #003333;
	overflow: scroll;
	border-bottom-style: solid;
	border-bottom-color: #003333;
	border-bottom-width: 50px;
}

.active {
	border-bottom-color: white;
}

.footer {
	background-color: #333333;
	position: fixed;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	height: 30px;	
}

.image {
	height:47px; 
	width: 50px; 
	margin-top: 3px;
}

.card {
	background-color: #336666;
	color: white;
	border-color: #003333;
	border-style: solid;
	border-radius: 8px;
	height: 300px;
}

.gameSection {
	background-color: rgba(128, 128, 128, 0.8); 
	border-top-style: solid; 
	border-top-width: 20px; 
	border-top-color: #003333; 
	padding: 15px;
}