<link href="css/company.css" rel="stylesheet">
<!-- Page Content -->
<style>html { height: 100%; }</style>
<div class="container" style="height:85%">
    <div class="container col-md-12 col-sm-12 col-xs-12" style="height: 100%;" ng-init="reverse='false'">
        <div class="row table-responsive" style="margin-bottom: 0px; background-color: black;height:100%">
            <table class="table table-hover table-striped" style="color: white;">
                <thead style="background-color: #001C6E; color: white;">
                    <th ng-click="sort('name')">Name&nbsp;&nbsp;
                        <span ng-if="sortKey!='name'" class="glyphicon glyphicon-chevron-down"></span>
                        <span ng-if="reverse && sortKey=='name'" class="glyphicon glyphicon-chevron-down"></span>
                        <span ng-if="!reverse && sortKey=='name'" class="glyphicon glyphicon-chevron-up"></span>
                    </th>
                    <th ng-click="sort('deck')">Deck&nbsp;&nbsp;
                        <span ng-if="sortKey!='deck'" class="glyphicon glyphicon-chevron-down"></span>
                        <span ng-if="reverse && sortKey=='deck'" class="glyphicon glyphicon-chevron-down"></span>
                        <span ng-if="!reverse && sortKey=='deck'" class="glyphicon glyphicon-chevron-up"></span>
                    </th>

                    <th ng-click="sort('date_founded')">Date Founded&nbsp;&nbsp;
                        <span ng-if="sortKey!='date_founded'" class="glyphicon glyphicon-chevron-down"></span>
                        <span ng-if="reverse && sortKey=='date_founded'" class="glyphicon glyphicon-chevron-down"></span>
                        <span ng-if="!reverse && sortKey=='date_founded'" class="glyphicon glyphicon-chevron-up"></span>
                    </th>

                    <th ng-click="sort('city')">City&nbsp;&nbsp;
                        <span ng-if="sortKey!='city'" class="glyphicon glyphicon-chevron-down"></span>
                        <span ng-if="reverse && sortKey=='city'" class="glyphicon glyphicon-chevron-down"></span>
                        <span ng-if="!reverse && sortKey=='city'" class="glyphicon glyphicon-chevron-up"></span>
                    </th>

                    <th ng-click="sort('country')">Country&nbsp;&nbsp;
                        <span ng-if="sortKey!='country'" class="glyphicon glyphicon-chevron-down"></span>
                        <span ng-if="reverse && sortKey=='country'" class="glyphicon glyphicon-chevron-down"></span>
                        <span ng-if="!reverse && sortKey=='country'" class="glyphicon glyphicon-chevron-up"></span>
                    </th>
                </thead>
                <tr dir-paginate="company in companies | itemsPerPage: 20 | orderBy:sortKey:reverse" total-items="totalCompanies" current-page="pagination.current">
                    <td><a href="#company/{{company.id}}">{{ company.name }}</a></td>
                    <td>{{ company.deck }}</td>
                    <td>{{ changeDate(company.date_founded) }}</td>
                    <td>{{ company.city }}</td>
                    <td>{{ company.country }}</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row" align="center">
        <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"
            max-size="5"
            direction-links="true"
            boundary-links="true" >
        </dir-pagination-controls>
    </div>
</div>
