<link href="css/company.css" rel="stylesheet">
<!-- Page Content -->
<!-- Table of Games -->
<div class="container">
    <div class="container col-md-12 col-sm-12 col-xs-12 card shadow" style="height: 100%;">
        <div class="row" style="height: 100%;">
            <div ui-grid="gridOptions" class="grid" ui-grid-pagination class="grid">
            <!-- style="margin: 5px;" -->
            <br></br>
            <div>
		      <div>Current page: {{grid.pagination.getPage()}} of {{grid.pagination.getTotalPages()}}</div>
		      <button type="button" class="btn btn-success" ng-click="grid.pagination.previousPage()">
		        previous page
		      </button>
		      <button type="button" class="btn btn-success" ng-click="grid.pagination.nextPage()">
		        next page
		      </button>
            </div>
        </div>
    </div>
</div>
