<link href="css/company.css" rel="stylesheet">
<!-- Page Content -->

<style>html { height: 100%; }</style>
<div class="container" style="height:85%">
    <div class="container col-md-12 col-sm-12 col-xs-12 shadow" style="height: 100%;" ng-init="reverse='false'">
        <div class="row table-responsive" style="margin-bottom: 0px; background-color: black;height:100%">
            <table class="table table-hover" style="background-color: black; color: white;">
                <thead style="background-color: #001C6E; color: white;">
                    <th ng-click="sort('name')">Name&nbsp;&nbsp;
                        <span ng-if="sortKey!='name'" class="glyphicon glyphicon-chevron-down"></span>
                        <span ng-if="reverse && sortKey=='name'" class="glyphicon glyphicon-chevron-down"></span>
                        <span ng-if="!reverse && sortKey=='name'" class="glyphicon glyphicon-chevron-up"></span>
                    </th>
                    <th ng-click="sort('deck')">Deck&nbsp;&nbsp;
                        <span ng-if="sortKey!='deck'" class="glyphicon glyphicon-chevron-down"></span>
                        <span ng-if="reverse && sortKey=='deck'" class="glyphicon glyphicon-chevron-down"></span>
                        <span ng-if="!reverse && sortKey=='deck'" class="glyphicon glyphicon-chevron-up"></span>
                    </th>

                    <th ng-click="sort('games_created')">Games Created&nbsp;&nbsp;
                        <span ng-if="sortKey!='games_created'" class="glyphicon glyphicon-chevron-down"></span>
                        <span ng-if="reverse && sortKey=='games_created'" class="glyphicon glyphicon-chevron-down"></span>
                        <span ng-if="!reverse && sortKey=='games_created'" class="glyphicon glyphicon-chevron-up"></span>
                    </th>

                    <th ng-click="sort('country')">Country&nbsp;&nbsp;
                        <span ng-if="sortKey!='country'" class="glyphicon glyphicon-chevron-down"></span>
                        <span ng-if="reverse && sortKey=='country'" class="glyphicon glyphicon-chevron-down"></span>
                        <span ng-if="!reverse && sortKey=='country'" class="glyphicon glyphicon-chevron-up"></span>
                    </th>

                    <th ng-click="sort('hometown')">Hometown&nbsp;&nbsp;
                        <span ng-if="sortKey!='hometown'" class="glyphicon glyphicon-chevron-down"></span>
                        <span ng-if="reverse && sortKey=='hometown'" class="glyphicon glyphicon-chevron-down"></span>
                        <span ng-if="!reverse && sortKey=='hometown'" class="glyphicon glyphicon-chevron-up"></span>
                    </th>
                </thead>
                <tr dir-paginate="person in people | itemsPerPage: 20 | orderBy:sortKey:reverse" total-items="totalPeople" current-page="pagination.current">
                    <td><a href="#person/{{person.id}}">{{ person.name }}</a></td>
                    <td>{{ person.deck }}</td>
                    <td>{{ person.games_created }}</td>
                    <td>{{ person.country }}</td>
                    <td>{{ person.hometown }}</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row" align="center">
        <dir-pagination-controls class="dirPageLarge" on-page-change="pageChanged(newPageNumber)"
            max-size="5"
            template-url="../js/dirPagination.tpl.html"
            direction-links="true"
            boundary-links="true">
        </dir-pagination-controls>

        <dir-pagination-controls class="dirPageSmall" on-page-change="pageChanged(newPageNumber)"
            max-size="5"
            template-url="../js/smDirPagination.tpl.html">
        </dir-pagination-controls>
    </div>
</div>
