<!-- Importing files for page -->
<link href="css/templates.css" rel="stylesheet">
<!-- Intro Header -->
<div class="container aboutCard" style="color: white;">
    <!-- Team Members Row -->
    <div class="row">
        <div class="col-md-12" >
            <h2 class="page-header" style="color: white;">Our Team</h2>
        </div>
    </div>

    <div class="container row">
        <div class="container col-md-6 col-sm-6">
            <div class="text-center" style="padding: 15px; height: 100%;">

                <div class="row">
                    <div style="margin: 0 auto;">
                        <img class="img-circle img-responsive img-center" src="img/andrew.jpg" alt="">
                    </div>
                </div>

                <div class="row" >
                    <h2 class="page-header aboutColor">Andrew Capindo</h2>
                </div>
                <div class="row" style="min-height: 190px">
                    <h4>Mini Bio:</h4>
                    <p>Hey I'm Andrew, a UT student in computer science. I love Zelda games the most but I play other games as well, like Fallout 4. Challenge me to Super Smash Bros. Other than that, I like to go to new places and hanging out with my friends.</p>
                    <br />
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h4>Major Responsibilites:</h4>
                        <h4>Front End</h4>
                    </div>
                    <div class="col-md-6">
                        <h4>Issues Created: 4</h4>
                        <h4>Commits Pushed: 52</h4>
                        <h4>Unit Tests Created: 3</h4>
                    </div>
                </div>
            </div>
            <hr>
        </div>

        <div class="container col-md-6 col-sm-6"  >
            <div class="text-center" style="padding: 15px; height: 100%;">

                <div class="row">
                    <div>
                        <img class="img-circle img-responsive img-center" src="img/bryan.jpg" alt="">
                    </div>
                </div>

                <div class="row">
                    <h2 class="page-header aboutColor">Bryan Powell</h2>
                </div>

                <div class="row" style="min-height: 190px">
                    <h4>Mini Bio:</h4>
                    <p>Hey my name is Bryan and I'm a UT student studying computer science. I love keeping up with the game industry, and my favorite game series' are Bioshock, Mass Effect, and The Legend of Zelda. In a perfect world I'd eat spaghetti, play with dogs and rollerblade all of the time.</p>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <h4>Major Responsibilites:</h4>
                        <h4>Back End</h4>
                    </div>
                    <div class="col-md-6">
                        <h4>Issues Created: 17</h4>
                        <h4>Commits Pushed: 51</h4>
                        <h4>Unit Tests Created: 3</h4>
                    </div>
                </div>

            </div>
            <hr>
        </div>
    </div>


    <div class="container row">
        <div class="container col-md-6 col-sm-6">
            <div class="text-center" style="padding: 15px; height: 100%;">
                <div class="row">
                    <img class=" img-circle img-responsive img-center" src="img/tin.png" alt="">
                </div>

                <div class="row" >
                    <h2 class="page-header aboutColor">Tin Vo</h2>
                </div>
                <div class="row" style="min-height: 210px">
                    <h4>Mini Bio:</h4>
                    <p>Hi, my name is Tin. I am studying Computer Science at The University of Texas at Austin and I am graduating this December. I love writing code and solving problems. I usually play games, read mangas, and watch anime in my free time. My favorite games are League of Legends and Call of Duty: Black Ops 3.</p>
                    <br />
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h4>Major Responsibilites:</h4>
                        <h4>Back End</h4>
                    </div>
                    <div class="col-md-6">
                        <h4>Issues Created: 8</h4>
                        <h4>Commits Pushed: 76</h4>
                        <h4>Unit Tests Created: 3</h4>
                    </div>
                </div>
            </div>
            <hr>
        </div>

        <div class="container col-md-6 col-sm-6"  >
            <div class="text-center" style="padding: 15px; height: 100%;">

                <div class="row">
                    <img class="img-circle img-responsive img-center" src="img/uyviet.png" alt="">
                </div>

                <div class="row">
                    <h2 class="page-header aboutColor">Uyviet Nguyen</h2>
                </div>

                <div class="row" style="min-height: 210px">
                    <h4>Mini Bio:</h4>
                    <p>Hey there! My name is Uyviet or UV for short. I’m a former Texas A&ampM Aggie but now I’ve come to the light, transferred, and became a Texas Longhorn. Mario Kart DS and Halo 3 are two of my all time favorite games.</p>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <h4>Major Responsibilites:</h4>
                        <h4>Full Stack</h4>
                    </div>
                    <div class="col-md-6">
                        <h4>Issues Created: 16</h4>
                        <h4>Commits Pushed: 41</h4>
                        <h4>Unit Tests Created: 3</h4>
                    </div>
                </div>

            </div>
            <hr>
        </div>
    </div>

    <!-- Team Stats -->
    <div class="row">
        <div class="col-md-4 text-center">
            <i class="fa fa-bar-chart fa-5x icon"></i>
            <h2 class="page-header">Our Team Stats</h2>

            <h4>Total Commits Pushed: 224</h4>
            <h4>Total Issues Created: 45</h4>
            <h4>Total Unit Tests Created: 12</h4>
        </div>
        <div class="col-md-4 text-center">
            <i class="fa fa-wrench fa-5x icon"></i>
            <h2 class="page-header">All Important Tools</h2>
            <h4>SQLAlchemy<h4>
            <h4>Slack<h4>
            <h4>Apiary</h4>
            <h4>yUML</h4>
            <h4>Flask</h4>
            <h4>Bootstrap</h4>
            <h4>AngularJS</h4>
        </div>

        <div class="col-md-4 text-center">
            <!-- <div class="col-md-12 icon"> -->
            <i class="fa fa-link fa-5x" aria-hidden="true"></i>
            <!-- </div> -->
            <h2 class="page-header">Links</h2>
            <h4><a href="http://docs.ggmate.apiary.io/#">Apiary API Link</a></h4>
            <h4><a href="https://github.com/brpowell/cs373-idb">Github Repo</a></h4>
            <h4><a href="https://github.com/brpowell/cs373-idb/issues">Github Issue Tracker</a></h4>
            <h4><a href="https://github.com/brpowell/cs373-idb/wiki">Github Wiki</a></h4>
            <h4><a href="https://speakerdeck.com/ggmate">Speaker Deck</a></h4>
            <h4><a href="#/books">Other Team's API (IBDB)</a></h4>
        </div>

    </div>
    <hr>


    <div class="row">
        <div class="col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4 text-center">
            <div class="container-fluid">
                <i class="fa fa-play-circle fa-5x"></i>
                <h2 class="page-header">Run Unittests</h1>
                <div class="row" align="center" stlye="padding-bottom: 15px;">
                    <button type="button" class="btn btn-primary" ng-click="runTests()" data-toggle="modal" data-target="#myModal">Run Tests</button>
                </div>
                <br>
            </div>
        </div>

        <div class="row">
            <!-- Modal -->
            <div id="myModal" class="modal fade modal-wide" role="dialog" align="center">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="color: black;">Tests Results</h4>
                  </div>
                  <div class="modal-body" >
                    <pre>
                        {{ testOutput }}
                    </pre>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>

              </div>
            </div>
        </div>
    </div>
</div>
