<link href="css/company.css" rel="stylesheet">

<!-- Page Content -->
<!-- Table of Games -->
<div class="container">
    <div class="container col-md-12 col-sm-12 col-xs-12 card shadow">
        <div class="row">

            <p>
                {{me}}
            </p>
            <div id="grid1" ui-grid="{data: myData }" class="grid"></div>
            <!-- <div class="table-responsive card" style="margin: 15px;">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th><h3>Game</h3></th>
                            <th><h3>Publisher</h3></th>
                            <th><h3>Developer</h3></th>
                            <th><h3>Date Released</h3></th>
                            <th><h3>Rating</h3></th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="game in games">
                        <td><h5>{{game.name}}</h5></td>
                        <td><h5>{{game.developer}}</h5></td>
                        <td><h5>{{game.publisher}}</h5></td>
                        <td><h5>{{game.released}}</h5></td>
                        <td><h5>{{game.rating}}</h5></td>
                      </tr>
                    </tbody>
                </table>
            </div> -->
        </div>
    </div>
</div>
