<link href="css/game.css" rel="stylesheet">

<!-- Page Content -->
<!-- Portfolio Item Row -->
<div class="container" style="margin-top: 20px;" >
    <div class="row" style="margin-top: 25px;">

        <div class="col-md-4 col-sm-4" style="margin-top: 15px;">
            <img class="img-responsive shadow" style="height:
            500px;" ng-src="{{imageLink}}" alt="">
        </div>

        <div class="col-md-8 col-sm-8" style="margin-top: 15px;">
            <div class="container col-md-12 shadow" style="background-color: #B8B8B8; min-height: 500px">
            <h1 class="page-header">{{gameName}}</h1>
            <h3>Game Description:</h3>
            <h5>{{description}}</h5>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <h3><i class="fa fa-star icon-color"></i> Ratings:</h3>
                    <h5>{{rating}}</h5>
                    <h3><i class="fa fa-gamepad icon-color"></i> Platforms:</h3>
                    <h5>{{platforms}}</h5>
                    <h3><i class="fa fa-desktop icon-color"></i> Developer:</h3>
                    <h5>{{developer}}</h5>
                    <h3><i class="fa fa-building icon-color"></i> Publishers:</h3>
                    <h5>{{publisher}}</h5>
                </div>
                <div class="col-md-6 col-sm-6">
                    <h3><i class="fa fa-users icon-color"></i> My Creators</h3>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <tr ng-repeat="person in people">
                                    <td>{{person}}</td>
                                </tr>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- /.row -->

<!-- Related Projects Row -->

    <!-- <div class="row" style="margin-top: 20px;">
        <div class="col-md-8 col-sm-8 col-md-offset-4">
            <div class="container col-md-12 col-sm-12 shadow" style="background-color: #123756; padding-bottom: 15px;">
                <h3 class="page-header">Game Trailer</h3>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item"
                    ng-src="{{video}}" frameborder="0" allowfullscreen>
                    </iframe>
                </div>
            </div>
        </div>
    </div> -->
    <!-- /.row -->
    <hr>

</div>
