<link href="css/company.css" rel="stylesheet">

<!-- Page Content -->
<!-- Table of Games -->
<div class="container">
    <div class="container col-md-12 col-sm-12 col-xs-12 card shadow">
        <div class="row">
            <div class="table-responsive card" style="margin: 15px;">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th><h3>Game</h3></th>
                            <th><h3>Publisher</h3></th>
                            <th><h3>Developer</h3></th>
                            <th><h3>Date Released</h3></th>
                            <th><h3>Rating</h3></th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><h5>Fallout 4</h5></td>
                        <td><h5>Bethesda</h5></td>
                        <td><h5>Bethesda</h5></td>
                        <td><h5>November 10, 2015</h5></td>
                        <td><h5>84</h5></td>
                      </tr>
                      <tr>
                        <td><h5>Dragon Age: Origins</h5></td>
                        <td><h5>Electronic Arts</h5></td>
                        <td><h5>Bioware</h5></td>
                        <td><h5>November 3, 2009</h5></td>
                        <td><h5>91</h5></td>
                      </tr>
                      <tr>
                        <td><h5>Mass Effect 3</h5></td>
                        <td><h5>Electronic Arts</h5></td>
                        <td><h5>Electronic Arts</h5></td>
                        <td><h5>March 6, 2012</h5></td>
                        <td><h5>93</h5></td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
