@import 'nav.css';

body {
    padding-top: 60px;  /*Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. 
}*/
}

footer {
    margin: 50px 0;
}

.icon {
    display:inline-block;
    text-align: center;
    vertical-align: bottom;
}

.shadow {
    box-shadow: 5px 5px gray;
}

hr {
    border-color: #33CCFF;
}
.page-header {
    border-color: #33CCFF;
}

h5 {
  color: white;
}

h1,
h3 {
  color: #FFFBCC;
  /*font-family: 'Oxygen', sans-serif;*/
  font-family: 'Exo 2', sans-serif;
}
.table-responsive {
    height: 300px;
    overflow:auto;
     margin-bottom: 10px;
}

.icon-color {
    color: #33CCFF;
}

.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
   background-color: #33CCFF;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #C0C0C0;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-top: 0px;
}



