<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>About Us</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS
    <!-- <link href="css/grayscale.css" rel="stylesheet"> -->
    <!-- <link href="css/grayscale.css" rel="stylesheet"> -->
    <!-- <link href="css/round-about.css" rel="stylesheet"> -->

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <link href='https://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Play' rel='stylesheet' type='text/css'>

    <link href="css/round-about.css" rel="stylesheet">

    <!--- Angular JS Code -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.1/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.1/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.1/angular-animate.js"></script>
    <script src="js/app.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head> 

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" >

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-gamepad"></i>  <span class="light">GGM8</span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="index.html">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#download">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Games</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Companies</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">People</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <div class="container aboutCard">

        <!-- Team Members Row -->
        <div class="row">
            <div class="col-md-12">
                <h2 class="page-header">Our Team</h2>
            </div>
            <div class="col-md-6 col-sm-4 text-center">
                <img class="col-md-6 col-sm-4 img-circle img-responsive img-center" src="img/andrew.jpg" alt="">
                <h3>Andrew Capindo</h3>
                <div class="col-md-6">
                    <h4>Mini Bio:</h4>
                    <p>Hey I'm Andrew, a UT student in computer science. I love Zelda games the most but play other games as well like Fallout 4. Challenge me to Super Smash Bros. Other than that I like to go to new places and hanging out with my friends.</p>
                                        <p>Major Responsibilites: Front End</p>
                    <p>No. of commits: 6</p>
                    <p>No. of Issues: 0</p>
                    <p>No. of Unit Tests: 0</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-4 text-center">
                <img class="col-md-6 col-sm-4 img-circle img-responsive img-center" src="img/bryan.jpg" alt="">
                <h3>Bryan Powell</h3>
                <div class="col-md-6">
                    <h4>Mini Bio:</h4>
                    <p>Hey I'm Bryan, a UT student studying computer science. Even though I don't have as much time for gaming as I wish anymore, I'm a big fan of following the industry. Besides that I love spaghetti, rollerblading and my roommate's dog. My favorite game series' are Bioshock, Mass Effect, and The Legend of Zelda.</p>
                    <p>Major Responsibilites: Back End</p>
                    <p>No. of commits: 5</p>
                    <p>No. of Issues: 0</p>
                    <p>No. of Unit Tests: 0</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-4 text-center">
                <img class="col-md-6 col-sm-4 img-circle img-responsive img-center" src="img/tin.png" alt="">
                <h3>Tin Vo</h3>
                <div class="col-md-6">
                    <h4>Mini Bio:</h4>
                    <p>Hi, my name is Tin. I am stuyding Computer Science at The University of Texas at Austin, and I am graduating this December. I love writing code and solving problems. I usually play games, reading mangas, or watching animes in my free time. My favorite games are League of Legends and Call of Duty: Black Ops 3.</p>
                    <p>Major Responsibilites: Back-End</p>
                    <p>No. of commits: 5</p>
                    <p>No. of Issues: 2</p>
                    <p>No. of Unit Tests: 0</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-4 text-center">
                <img class="col-md-6 col-sm-4 img-circle img-responsive img-center" src="img/uyviet.png" alt="">
                <h3>Uyviet Nyguen</h3>
                <div class="col-md-6">
                    <h4>Mini Bio:</h4>
                    <p>Hey there! My name is Uyviet (pronounced We-Vet) or I go by UV. I’m a former Texas A&M Aggie but now I’ve come to the light and became a Texas Longhorn. Mario Kart DS and Halo 3 are two of my all time favorite games.</p>
                    <p>Major Responsibilites: Full-Stack</p>
                    <p>No. of commits: 4</p>
                    <p>No. of Issues: 0</p>
                    <p>No. of Unit Tests: 0</p>
                </div>
            </div>
        </div>

        <hr>
        <!-- Team Stats -->
        <div class="row">
            <div class="col-md-4 text-center">
                <i class="fa fa-bar-chart fa-5x icon"></i>
                <h2 class="page-header">Our Team Stats</h2>
   
                <p>Total No. of Commits: 25</p>
                <p>Total No. of Issues: 17</p>
                <p>Total No. of Unit Tests: 15</p>
                <p><a href="http://docs.ggmate.apiary.io/#">Apiary API Link</a></p>
                <p><a href="https://github.com/brpowell/cs373-idb/issues">
                Github Issue Tracker</a></p>
                <p><a href="https://github.com/brpowell/cs373-idb">Github Repo</a></p>
                <p><a href="https://github.com/brpowell/cs373-idb/wiki">Github Wiki</a></p>
            </div>
            <div class="col-md-4 text-center">
                <i class="fa fa-wrench fa-5x icon"></i>
                <h2 class="page-header">All Important Tools</h2>
                <p>SQLAlchemy<p>
                <p>Apiary</p>
                <p>yUML</p>
                <p>Flask</p>
                <p>Bootstrap</p>
                <p>AngularJS</p>
            </div>

            <div class="col-md-4 text-center">
                <!-- <div class="col-md-12 icon"> -->
                <i class="fa fa-database fa-5x"></i>
                <!-- </div> -->
                <h2 class="page-header">Our Data Sources</h2>
                <h4><a href="http://www.giantbomb.com/api/">Giantbomb API</a></h4>
                <h4><a href="https://github.com/brpowell/cs373-idb/wiki/RESTful-API">How we Scraped our Data</a></h4>
            </div>
        </div>


        <hr>


        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer>

    </div>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <!-- <script src="js/grayscale.js"></script> -->


</body>

</html>
