<!-- Custom CSS -->
<link href="../static/css/company.css" rel="stylesheet">

<!-- Page Content -->
<!-- Portfolio Item Row -->
<div class="container col-md-8 col-xs-10 col-md-offset-2 col-xs-offset-1 shadow card" style="margin-top: 25px;" >
    <h1 class="page-header">{{personName}}</h1>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-6 col-sm-6">
            <h3>Description:</h3>
            <h5>{{description}}</h5>
            <h3><i class="fa fa-trophy"></i> First Credited Game:</h3>
            <h5>{{firstGame}}</h5>
            <h3><i class="fa fa-building"></i> Company:</h3>
            <h5>{{company}}</h5>
            <h3><i class="fa fa-birthday-cake"></i> Birthdate:</h3>
            <h5>{{birthDate}}</h5>
        </div>
        <div class="col-md-6 col-sm-6">
            <h3><i class="fa fa-gamepad"></i> Games I've Worked On</h3>
            <div class="table-responsive">
            <table class="table table-striped">
                <tr ng-repeat="game in games">
                    <td>{{game}}</td>
                </tr>
            </table>
        </div>
        </div>
    </div>

<!-- /.row -->
<hr>
</div>
<div class="container col-md-8 col-xs-10 col-md-offset-2 col-xs-offset-1">
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>
</div>
